*{
    border: 5px solid wheat;
}

**{
    
    border: 5px solid orange;
}
***{
    border: 5px solid red;
    display: block;
}

#video{
    position: fixed; 
    right: 0;   
    bottom: 0;
    left: 0;
    height: 100%;
    width:100%; 
    opacity: .60; 
    /* align-content: center; */
 
}


.section{
   
    color: #71a9f7;
    /* z-index: 1; */
margin: 20% 40% 20% 40%;

   
  
   
   
  
}

.texth1{
  
   color: #71a9f7;
   z-index: 1;
  
   position: fixed;
   
   
    

} 

/*.text1, .texth1{
    color: #c6d8ff;
    z-index: 2;
     font-size: 50px;
    text-align: center;
      position: relative; Este fue el que dejo el texto sobre los botones  
     position: relative;
      align-content: center;
 }*/