/* Comentar todo cambio realizado */

/* Hoja de estilos Css - PlayWeb */

/* Paleta de colores */

/* 
#c6d8ff
#71a9f7
#6b5ca5
Negro
Blanco

#1f53c5 axul
#24203c negro

*/

.boton_buscar:hover {
    background-color: #6b5ca5; 

}


.card-body1 {
    text-align: center;
}

.container1 {
margin-left: 1%;
margin-top: 2%;
}

.video1 {
    width: 100%;
}

/* estilos pagina de  categorias  richard */














