/* Comentar todo cambio realizado */

/* Hoja de estilos Css - PlayWeb */

/* Paleta de colores */

*{border: 5px solid  red; }
**{border: 5px solid yellow;}
***{border: 5px solid lightblue;}

/* 
#c6d8ff
#71a9f7
#6b5ca5
Negro
Blanco

#1f53c5 axul
#24203c negro

*/

.container{
  display: inline;
}

.col-9{
  
  align-items: center;
  text-align: center;
}

.videopp{

   /* padding: 3px; */
   margin: auto;
}

.pie{
   
}

.fa fa-thumbs-up{
    font-size:120px;
    color:lightblue;
    text-shadow:2px 2px 4px #000000;
    position: fixed;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }